%html
  %head
    %meta{content='text/html; charset=UTF-8' "http-equiv"=>'Content-Type'}
  %body
    Hi #{@worker.name},
    %p
      Your password has been changed by admin. Please contact to SYNCrew admin for
      getting his credential.

    %p Thanks
    %p From SYNCrew